.main-container {
  text-align: center;
}

.search-field {
  padding: 3rem 0;
  background-color: #fe5395;
  margin: 0;
}

.search-field input {
  border-radius: 20px;
  width: 15rem;
  height: 1.5rem;
  padding: 1rem;
  background-color: #ec4c8b;
  color: #fff;
  border-style: none;
  border-color: #df4783;
  text-align: center;
}

input::placeholder {
  font-style: italic;
  color: #fff;
}

.exchange-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.2rem;
  padding: 1rem 0.5rem;
  justify-content: space-between;
}
